<% cache(cache_key_for_search_user_snippet(user)) do %>
<h4 class="media-heading"><span class="user-link"><%= link_to user.username, profile_path(user) %></span></h4>
<div>Email: <%= user.email %></div>
<div>Joined since <%= user.created_at.strftime("%b %d, %Y") %></div>
<% end %>
