<%= render partial: 'search_bar', locals: {type: 'recipe'} %>
<div clas="row">
  <div class="col-md-12">
    <h2>Recipe Search Result: <b>"<%= @keyword %>"</b></h2>
  </div>
  <hr class="medium" />
</div>
<%= render partial: 'search_result_table', locals: {items: @recipes, type: 'recipe'} %>
<!-- Begin Pagination -->
<div class="pagination-container text-center">
  <div class="row">
    <div class="col-md-12">
      <ul class="pagination pagination-sm works-pagination">
        <%= paginate @recipes %>
      </ul>
    </div>
  </div>
</div>
<!-- End Pagination -->
