<!-- Begin ingredient search result -->
<div class="row">
  <%= render 'common' %>
  <div class="col-md-12">
    <h2>Ingredient Search Result</h2>
  </div>

  <hr class="medium" />
  <!-- result list -->
  <!-- <% @ingredients = @ingredients.uniq { |ingredient| ingredient.name } %> -->
  <% @ingredient_name = Array.new %>
  <% @ingredients.each do |ingredient| %>
  <% @ingredient_name.push(ingredient.name) %>
  <%end%>
  <!-- display unique results -->
  <% @ingredient_name = @ingredient_name.uniq  %>
  <% @ingredient_name.each do |name| %>
  <p>ingredient: <%= name %></p>
  <% end %>

</div>
