<!-- Begin user search result -->
<div class="row">
  <%= render 'common' %>
    <div class="col-md-12">
      <h2>User Search Result</h2>
    </div>

  <hr class="medium" />
  <% @users.each do |user| %>
  <!-- result list -->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src = "<%= user.avatar.url(:square) %>">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= user.username %></h4>
          <p><%= user.email %></p>
        </div>
  </div>
  <% end %>
</div>
