<!-- Begin ingredient search result -->
<div class="row">
  <%= render 'common' %>
  <div class="col-md-12">
    <h2>Ingredient Search Result</h2>
  </div>

  <hr class="medium" />
  <div class="col-md-12">
    <% @ingredients.each do |ingredient| %>
      <a class="btn btn-custom light-gray"><%= ingredient.name %><a>
    <% end %>
  </div>

</div>
