<%= render partial: 'search_bar', locals: {type: 'user'} %>
<div clas="row">
  <div class="col-md-12">
    <h2>User Search Result: <b>"<%= @keyword %>"</b></h2>
  </div>
  <hr class="medium" />
</div>
<%= render partial: 'search_result_table', locals: {items: @users, type: 'user'} %>
